.review-container {
  display: flex;
}

.review {
  margin: 20px;
  flex-basis: 60%;
  border-right: 1px solid grey;
  padding: 0 50px;
  margin-right: 20px;
  margin-left: 80px;
}

.cart {
  flex-basis: 40%;
  margin: 20px;
  margin-right: 80px;
}
